# Format: postgresql://USER:PASSWORD@HOST:PORT/DATABASE
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE"

# NextAuth Settings
AUTH_SECRET="your_secure_randomly_generated_string_here!!"
NEXTAUTH_URL="http://localhost:3000"

# Google Auth 
GOOGLE_CLIENT_ID="<clientId_ของคุณ>"
GOOGLE_CLIENT_SECRET="<secret_ของคุณ>"

INTERNAL_SECRET=ใส่_รหัส_ยาวๆยากๆ_อะไรก็ได้ตรงนี้