# Format: postgresql://USER:PASSWORD@HOST:PORT/DATABASE
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE"

# NextAuth Settings
AUTH_SECRET="your_secure_randomly_generated_string_here!!"
NEXTAUTH_URL="http://localhost:3000"
APP_URL="http://localhost:3000"

# Google Auth
GOOGLE_CLIENT_ID="<your_client_id>"
GOOGLE_CLIENT_SECRET="<your_client_secret>"

# Internal server auth
INTERNAL_SECRET="set_a_long_random_secret_here"

# Email verification
RESEND_API_KEY=""
EMAIL_FROM="Mineway <noreply@example.com>"
EMAIL_VERIFICATION_BYPASS="false"

# Cloudflare (Optional) - For automatic SRV record creation
CF_API_TOKEN=""

# reCAPTCHA
NEXT_PUBLIC_TURNSTILE_SITE_KEY=your_site_key_here
TURNSTILE_SECRET_KEY=your_secret_key_here
